.about__container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 4rem;
    width: 100%;
}

.about__title {
    font-family: var(--fonte-padrao);
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
}

.about__paragraph {
    width: 100%;
    text-align: justify;
}